<br>
<h5 align="center" style="color: #0651a0;">Monthly Savings</h5>
<div class="col-md-12">
    <div class="card card-container">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="interestdate">Date</label>
          <input
            type="date"
            id="date"
            class="form-control"
            name="interestdate"
            [(ngModel)]="form.interestdate"
            required
            #interestdate="ngModel"
          />
          <div class="alert-danger" *ngIf="interestdate.errors && f.submitted">
            <div *ngIf="interestdate.errors?.['required']">Date is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="savingsamount">Savings Amount</label>
           <!-- <input
            type="monthlyshare"
            class="form-control"
            name="monthlyshare"
            [(ngModel)]="form.monthlyshare"
            required
            #monthlyshare="ngModel"
          /> -->
          <select class="form-control" type="savingsamount" name="savingsamount">
            <option>Select Amount</option> 
            <option disabled class="option1">Choose Amount</option> 
            <option>400</option>
            <option>500</option>  
            <option>1000</option>  
         </select>         
          <!-- <div class="alert-danger" *ngIf="savingsamount.errors && f.submitted">
            <div *ngIf="savingsamount.errors?.['required']">Savings Amount is required</div>
          </div> -->
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isInterestFailed">
          Interest failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Successfully Created!
      </div>
    </div>
  </div>