<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
  <div id="loanhome">
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img
            id="profile-img"
             src="assets/usersave.png"
            class="profile-img-card"
          />
            <button name="Request" class="btn btn-block" (click)="OnRequest()"><p style="color: #070bfa;font-weight: bolder;font-size: x-large;">MONTH SAVING</p></button>
            <!-- <a href="/loan-request" class="nav-link" routerLink="loan-request">Request</a> -->
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img
            id="profile-img"
             src="assets/viewsave.png"
            class="profile-img-card"
          />
              <button name="View" class="btn btn-block" (click)="OnView()"><p style="color: #070bfa;font-weight: bolder;font-size: x-large;">VIEW SAVING</p></button>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img
            id="profile-img"
             src="assets/editsave.png"
            class="profile-img-card"
          />
              <button name="Edit" class="btn btn-block" (click)="OnRequest()"><p style="color: #070bfa;font-weight: bolder;font-size: x-large;">EDIT SAVING</p></button>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img
            id="profile-img"
             src="assets/deletesave.png"
            class="profile-img-card"
          />
              <button name="Delete" class="btn btn-block" (click)="OnRequest()"><p style="color: #070bfa;font-weight: bolder;font-size: x-large;">DELETE SAVING</p></button>
          </li>
        </ul>
    </nav>
  </div>
  