<br>
<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [wordWrapEnabled]="true"
  [showBorders]="true"
>
  <dxo-paging [pageSize]="500"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showNavigationButtons]="true"
    [allowedPageSizes]="[500, 1000, 2000]"
    [showInfo]="true"
  >
  </dxo-pager>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

  <dxi-column dataField="Id" width="75"></dxi-column>
  <dxi-column dataField="StoreName" caption="Customer id" width="150"></dxi-column>
  <dxi-column dataField="ProductName" caption="Customer Name" width="270"></dxi-column>
  <dxi-column
    dataField="DateKey"
    caption="Date"
    dataType="date"
    format="yyyy-MM-dd"
    width="210"
  ></dxi-column>
  <dxi-column
  dataField="ProductCategoryName"
  caption="Savings Amount"
  width="160"
></dxi-column>
  <dxi-column
    dataField="SalesAmount"
    caption="Share Amount"
    format="currency"
    width="160"
  >
    <dxo-header-filter [groupInterval]="1000"></dxo-header-filter>
  </dxi-column>
</dx-data-grid>

<router-outlet></router-outlet>
