<br>
<div class="col-md-12">
    <div class="card card-container">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="interestdate">Date</label>
          <input
            type="date"
            id="date"
            class="form-control"
            name="interestdate"
            [(ngModel)]="form.interestdate"
            required
            #interestdate="ngModel"
          />
          <div class="alert-danger" *ngIf="interestdate.errors && f.submitted">
            <div *ngIf="interestdate.errors?.['required']">Date is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="totalmembers">Total Members</label>
          <input
            type="totalmembers"
            class="form-control"
            name="totalmembers"
            [(ngModel)]="form.totalmembers"
            required
            totalmembers
            #totalmembers="ngModel"
          />
          <div class="alert-danger" *ngIf="totalmembers.errors && f.submitted">
            <div *ngIf="totalmembers.errors?.['required']">totalmembers is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="monthlyinterest">Monthly Interest</label>
          <input
            type="monthlyinterest"
            class="form-control"
            name="monthlyinterest"
            [(ngModel)]="form.monthlyinterest"
            required
            #monthlyinterest="ngModel"
          />
          <div class="alert-danger" *ngIf="monthlyinterest.errors && f.submitted">
            <div *ngIf="monthlyinterest.errors?.['required']">Monthly Interest is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="monthlyshare">Monthly Share</label>
          <input
            type="monthlyshare"
            class="form-control"
            name="monthlyshare"
            [(ngModel)]="form.monthlyshare"
            required
            #monthlyshare="ngModel"
          />
          <div class="alert-danger" *ngIf="monthlyshare.errors && f.submitted">
            <div *ngIf="monthlyshare.errors?.['required']">Monthly share is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isInterestFailed">
          Interest failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Successfully Created!
      </div>
    </div>
  </div>