<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
<div id="loanhome">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/request.png"
          class="profile-img-card"
        />
          <button name="Request" class="btn btn-block" (click)="OnRequest()"><h1 style="color: #0651a0;">REQUEST LOAN</h1></button>
          <!-- <a href="/loan-request" class="nav-link" routerLink="loan-request">Request</a> -->
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/view.jpg"
          class="profile-img-card"
        />
            <button name="View" class="btn btn-block" (click)="OnView()"><h1 style="color: #0651a0;">VIEW LOAN</h1></button>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/edit.jpg"
          class="profile-img-card"
        />
            <button name="Edit" class="btn btn-block" (click)="OnRequest()"><h1 style="color: #0651a0;">EDIT LOAN</h1></button>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/delete.jpg"
          class="profile-img-card"
        />
            <button name="Delete" class="btn btn-block" (click)="OnRequest()"><h1 style="color: #0651a0;">DELETE LOAN</h1></button>
        </li>
      </ul>
  </nav>
</div>
