<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
<div id="loanhome">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/request.png"
          class="profile-img-card"
        />
          <button name="Request" class="btn btn-block" (click)="OnRequest()"><p style="color: #0a0a0a;font-weight: bolder;font-size: x-large;">REQUEST LOAN</p></button>
          <!-- <a href="/loan-request" class="nav-link" routerLink="loan-request">Request</a> -->
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/view.jpg"
          class="profile-img-card"
        />
            <button name="View" class="btn btn-block" (click)="OnView()"><p style="color: #0a0a0a;font-weight: bolder;font-size: x-large;">VIEW LOAN</p></button>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/edit.jpg"
          class="profile-img-card"
        />
            <button name="Edit" class="btn btn-block" (click)="OnRequest()"><p style="color: #0a0a0a;font-weight: bolder;font-size: x-large;">EDIT LOAN</p></button>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img
          id="profile-img"
           src="assets/delete.jpg"
          class="profile-img-card"
        />
            <button name="Delete" class="btn btn-block" (click)="OnRequest()"><p style="color: #0a0a0a;font-weight: bolder;font-size: x-large;">DELETE LOAN</p></button>
        </li>
      </ul>
  </nav>
</div>
