<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
<div id="loanhome">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <button name="Request" class="btn btn-block" (click)="OnRequest()">Request</button>
          <!-- <a href="/loan-request" class="nav-link" routerLink="loan-request">Request</a> -->
        </li>
        <li class="nav-item">
            <button name="Request" class="btn btn-block" (click)="OnView()">View</button>
        </li>
        <li class="nav-item">
            <button name="Request" class="btn btn-block" (click)="OnRequest()">Edit</button>
        </li>
        <li class="nav-item">
            <button name="Request" class="btn btn-block" (click)="OnRequest()">Delete</button>
        </li>
      </ul>
  </nav>
</div>
