<br>
<h5 align="center" style="color: #0651a0;">Loan Request</h5>
<div class="col-md-12">
    <div class="card card-container">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <!-- <div class="form-group">
          <label for="interestdate">Date</label>
          <input
            type="date"
            id="date"
            class="form-control"
            name="interestdate"
            [(ngModel)]="form.interestdate"
            required
            #interestdate="ngModel"
          />
          <div class="alert-danger" *ngIf="interestdate.errors && f.submitted">
            <div *ngIf="interestdate.errors?.['required']">Date is required</div>
          </div>
        </div> -->

        <div class="form-group">
          <label for="totalmembers">Request Amount</label>
          <!-- <input
            type="totalmembers"
            class="form-control"
            name="totalmembers"
            [(ngModel)]="form.totalmembers"
            required
            totalmembers
            #totalmembers="ngModel"
          /> -->
          <select class="form-control" type="savingsamount" name="savingsamount">
            <option>Select Amount</option> 
            <option disabled class="option1">Choose Amount</option> 
            <option>10000</option>
            <option>20000</option>  
            <option>30000</option> 
            <option>50000</option> 
         </select> 
          <!-- <div class="alert-danger" *ngIf="totalmembers.errors && f.submitted">
            <div *ngIf="totalmembers.errors?.['required']">totalmembers is required</div>
          </div> -->
        </div>

        <div class="form-group">
          <label for="totalmembers">Status</label>
          <!-- <input
            type="totalmembers"
            class="form-control"
            name="totalmembers"
            [(ngModel)]="form.totalmembers"
            required
            totalmembers
            #totalmembers="ngModel"
          /> -->
          <select class="form-control" type="savingsamount" name="savingsamount">
            <option>Select Status</option> 
            <option disabled class="option1">Choose Status</option>
            <option>Emergency</option>
            <option>Important</option>  
            <option>Need</option> 
         </select> 
          <!-- <div class="alert-danger" *ngIf="totalmembers.errors && f.submitted">
            <div *ngIf="totalmembers.errors?.['required']">totalmembers is required</div>
          </div> -->
        </div>

        <div class="form-group">
          <label for="totalmembers">Reason for loan</label>
          <input
            type="totalmembers"
            class="form-control"
            name="totalmembers"
            [(ngModel)]="form.totalmembers"
            required
            totalmembers
            #totalmembers="ngModel"
          />
          <div class="alert-danger" *ngIf="totalmembers.errors && f.submitted">
            <div *ngIf="totalmembers.errors?.['required']">totalmembers is required</div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isInterestFailed">
          Interest failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Successfully Created!
      </div>
    </div>
  </div>