.spinner::after {
    content: ' ';
    display: block;
    border-radius: 50%;
    border-bottom: 1px solid red;
    border-top: 1px solid blue;
    width: 20px;
    height: 20px;
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }