<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SIRUSEMMIPPU</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="status === 'success'">
      <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="customerschk === 'customers'">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">HOME</a>
        </li>
        <li class="nav-item">
          <a href="/m-savings" class="nav-link" routerLink="savings-home">SAVINGS</a>
        </li>
        <li class="nav-item">
          <a href="/loan-home" class="nav-link" routerLink="loan-home">LOAN</a>
        </li>
        <li class="nav-item">
          <a href="/savings-share" class="nav-link" routerLink="savings-share">SHARE</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/loan-view" class="nav-link" routerLink="loan-view">Loan View</a>
        </li> -->
      </ul>
      <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="customerschk != 'customers'">
      <li class="nav-item">
        <a href="/createsaving" class="nav-link" routerLink="createsaving">Savings</a>
      </li>
      <li class="nav-item">
        <a href="/createinterest" class="nav-link" routerLink="createinterest">Interest</a>
      </li>
      <li class="nav-item">
        <a href="/clubs" class="nav-link" routerLink="clubs">Club</a>
      </li>
      <li class="nav-item">
        <a href="/customers" class="nav-link" routerLink="customers">Customer</a>
      </li>
    </ul>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="status === 'success'">
        
      </ul>
    <ul class="navbar-nav ml-auto" *ngIf="status != 'success'">
     
      <!-- <li class="nav-item">
        <a href="/user-register" class="nav-link" routerLink="user-register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
     <ul class="navbar-nav ml-auto" *ngIf="status === 'success'">
      <a class="navbar-brand">WELCOME {{customername}}!</a>
      <li class="nav-item">
        <a href="/change-password" class="nav-link" routerLink="change-password">CHANGE PASSWORD</a>
      </li>
      <li class="nav-item">
        <a href href="/logout" class="nav-link" routerLink="logout">LOGOUT</a>
      </li> 
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>

  </div>
  <div class="bgimg">
    <!-- <app-login name="success"></app-login> -->
  </div>
</div>