<br>
<h5 align="center" style="color: #0651a0;">Create Monthly Savings</h5>
<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="createDate">Date</label>
          <input
            type="date"
            class="form-control"
            name="createDate"
            [(ngModel)]="form.createDate"
            required
            #createDate="ngModel"
          /> 
          <div class="alert-danger" *ngIf="createDate.errors && f.submitted">
            <div *ngIf="createDate.errors?.['required']">Date is required</div>
          </div>
          
        </div>
        <!--The content below is only a placeholder and can be replaced.-->
  <div class="form-group">
    <div class="row">
      <div class="col">
        <ng-multiselect-dropdown
          name="country"
          [placeholder]="'Select Members'"
          [data]="countries"
          [(ngModel)]="countries"
          [settings]="dropdownSettings"
        >
          <ng-template
            #optionsTemplate
            let-item
            let-option="option"
            let-id="id"
            let-isSelected="isSelected"
          >
            <div
              style="
                padding: 1px 10px;
                margin-right: 10px;
                right: 2px;
                top: -2px;
              "
            >
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin: 0 20px;"
              />
              <label
                style="color: #333; min-width: 130px; font-weight: normal;"
                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}"
                >{{getItems[id].item_text}}</label
              >
            </div>
          </ng-template>
          <ng-template #optionSelectedTemplate let-option="option" let-id="id">
            <div>
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin-right: 2px;"
              />
              {{option}}
            </div>
          </ng-template>
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
        <div class="form-group">
          <label for="totalMembers">Total Members</label>
          <input
            type="totalMembers"
            class="form-control"
            name="totalMembers"
            [(ngModel)]="form.totalMembers"
            required
            totalMembers
            #totalMembers="ngModel"
          />
          <div class="alert-danger" *ngIf="totalMembers.errors && f.submitted">
            <div *ngIf="totalMembers.errors?.['required']">Total Members is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="monthlySavAmt">Monthly Savings Amount</label>
          <input
            type="monthlySavAmt"
            class="form-control"
            name="monthlySavAmt"
            [(ngModel)]="form.monthlySavAmt"
            required
            minlength="3"
            #monthlySavAmt="ngModel"
          />
          <div class="alert-danger" *ngIf="monthlySavAmt.errors && f.submitted">
            <div *ngIf="monthlySavAmt.errors?.['required']">Monthly Savings Amount is required</div>
            <div *ngIf="monthlySavAmt.errors?.['minlength']">
              Monthly savings must be at least 3 digits
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="totalSavAmt">Total Savings Amount</label>
          <input
            type="totalSavAmt"
            class="form-control"
            name="totalSavAmt"
            [(ngModel)]="form.totalSavAmt"
            required
            minlength="5"
            #totalSavAmt="ngModel"
          />
          <div class="alert-danger" *ngIf="totalSavAmt.errors && f.submitted">
            <div *ngIf="totalSavAmt.errors?.['required']">Total Savings Amount is required</div>
            <div *ngIf="totalSavAmt.errors?.['minlength']">
              Total Monthly savings must be at least 5 digits
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSavingFailed">
          Savings failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Successfully Created!
      </div>
    </div>
  </div>
  