<!-- <style>
  .bgimg {
    background-image: url("assets/bg.jpg");
  }
  </style> -->
<!-- <div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a href="/m-savings" class="nav-link" routerLink="m-savings">Savings</a>
        </li>
        <li class="nav-item">
          <a href="/loan-request" class="nav-link" routerLink="loan-request">Loan</a>
        </li>
        <li class="nav-item">
          <a href="/savings-share" class="nav-link" routerLink="savings-share">Share</a>
        </li>
      </ul>
  </nav>
</div> -->